NEXT_PUBLIC_SUPABASE_URL=https://ysfkyocmoanllvmhzfpv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzZmt5b2Ntb2FubGx2bWh6ZnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2Njg0MDUsImV4cCI6MjA5MTI0NDQwNX0.jl_-DCWCPrQ7W0uunECRDpwd6dZHJwu321MTWcdMgf4

